@inject AuthSessionState AuthState

@if (AuthState.IsInitializing)
{
    <div class="spinner"></div>
}
else if (!AuthState.IsAuthenticated)
{
    @if (GuestContent is not null)
    {
        @GuestContent
    }
    else
    {
        <GuestNotice Message="@GuestMessage" />
    }
}
else if (AuthState.ProfileLoadError is not null)
{
    <ErrorBanner Message="@AuthState.ProfileLoadError" OnRetry="() => AuthState.RefreshProfileAsync()" />
}
else if (AuthState.CurrentUser is null)
{
    <GuestNotice Message="Finish setting up your account to continue." />
}
else
{
    @ChildContent
}

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? GuestContent { get; set; }
    [Parameter] public string GuestMessage { get; set; } = "Sign in or create a free account to continue.";
}
