<div class="book-card-skeleton">
    <div class="skeleton skeleton-cover"></div>
    <div class="skeleton-body">
        <div class="skeleton skeleton-line"></div>
        <div class="skeleton skeleton-line short"></div>
    </div>
</div>
